@mixin box-sizing
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

html
  @include box-sizing
  font-size: 14px

body
  margin: 10px
  background: $primary-color

*, *:before, *:after
  box-sizing: inherit

// Gaps in Content
$gap-xxs:    6px
$gap-xs:    12px
$gap-s:     18px
$gap-m:     24px
$gap-l:     30px
$gap-xl:    36px
$gap-2xl:   42px
$gap-3xl:   48px
$gap-4xl:   54px
$gap-5xl:   60px
$gap-6xl:   66px
$gap-7xl:   72px
$gap-8xl:   78px
$gap-9xl:   84px
$gap-10xl:  90px
